<!doctype html>
<html lang="ru">
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>1</title>
	 <link rel="stylesheet" href="css/bootstrap.min.css">
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="css/styles.css" rel="stylesheet">
	<style>
		.content{
			height: 300px;
			overflow: auto;
		}
	</style>
	 <script src="js/vue.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sample">
			<form v-if="!showTable">
				<div @scroll.passive="scrolledBottom" class="content alert alert-info">
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
					<p>This text no one reads. This text no one reads. This text no one reads.</p>
				</div>
            <div class="progress">
               <div class="progress-bar" role="progressbar" aria-label="Basic example" :aria-valuenow="scrollbarCount" aria-valuemin="0" aria-valuemax="100" :style="{width: scrollbarCount + '%'}"></div>
             </div>	
            <template v-if="checkScrolled">	
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" v-model="agreeTerms"> 
						Agree with all
					</label>
				</div>
				<div class="form-check">
               <div>
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" v-model="spam.agree"> 
						Get spam
					</label>
               </div>
               <template v-if="spam.agree">
               <div>
                  <label class="form-check-label">
                     <input class="form-check-input" type="radio" value="email" v-model="spam.deliveryType"> 
                     E-mail
                  </label>   
               </div>
               <div>
                  <label class="form-check-label">
                     <input class="form-check-input" type="radio" value="sms" v-model="spam.deliveryType"> 
                     SMS
                  </label>
               </div>
            </template>
            </div>
				<hr>
				<button @click="showTable = !showTable" class="btn btn-primary" :disabled="!agreeTerms" @click.prevent>
					Send Data
				</button>
         </template>		
			</form>
			<div v-else>
				<table class="table table-bordered">
					<tr>
						<td>Agree all</td>
						<td :class="termsAgreeColor"> {{ agreeTerms ? 'Yes' : 'No' }} </td>
					</tr>
               <tr>
                  <td>Get Spam</td>
						<td :class="spamAgreeColor"> {{ spam.agree ? 'Yes' : 'No' }} </td>
					</tr>
               <tr v-if="spam.agree">
						<td>Spam Type</td>
						<td> {{ spam.deliveryType }} </td>
					</tr>
				</table>
			</div> 
		</div>
	</div>
	<script>
		
		Vue.createApp({
			data: () => ({
               agreeTerms: false,
               spam: {
                  agree: false,
                  deliveryType: 'sms',
               },
               scroll: {
                  total: 10,
                  toTop: 0,
               },
               showTable: false,
			}),
         computed: {
            scrollbarCount() {
               return Math.floor(this.scroll.toTop / this.scroll.total * 100)
            },

            spamAgreeColor() {
               return this.spam.agree == false ? 'text-danger' :  'text-success'
            },
            termsAgreeColor() {
               return this.agreeTerms == false ? 'text-danger' :  'text-success'
            },

            checkScrolled() {
               return this.scroll.total == this.scroll.toTop;
            }
         },
         methods: {
            scrolledBottom(e) {
               let div = e.target;
               this.scroll.total = div.scrollHeight - div.clientHeight;
               if (this.scroll.toTop < Math.ceil(div.scrollTop)) this.scroll.toTop = Math.ceil(div.scrollTop);
             
          }
         }
		}).mount('.sample');
  
	</script>
</body>
</html>